body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #a06b6b;
}

p {
    font-size: 1.2em;
    color: #000000;
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a4f41c;
}